.pipeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.stage {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.stage.filled {
    background-color: green;
}


.pipeline {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.stage {
    width: 20px; /* Smaller circles */
    height: 20px; /* Smaller circles */
    border-radius: 50%; /* Curved circles */
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    z-index: 1; /* Ensure the circles are above the pipes */
}

.pipe {
    height: 4px; /*Thickness of the pipe */
    flex-grow: 1;
    background-color: lightgray;
    margin: 0 -2px; /*Slightly overlap the circle*/
}

.pipeline-with-hover {
    position: relative;
    /* display: inline-block; */
}

.sigleinv {
    color: rgb(8, 159, 11);
width: 95vw;
height: 110px;
display: flex;
flex-direction: column;
align-items: center;
background-color: #cfeae7;
box-shadow: 0px 4px 8px rgba(60, 4, 4, 0.2);
border-radius: 8px; /* Add rounded corners */
padding: 20px; /* Add padding */
margin-bottom: 20px;
}

.pipeline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stage {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    z-index: 1;
}

.pipe {
    height: 4px;
    flex-grow: 1;
    background-color: lightgray;
    margin: 0 -2px;
}

.bar-chart {
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    width: 300px;
    padding: 10px; 
    /* background-color: white; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
    z-index: 2;
    display: none;
}

.pipeline-with-hover:hover .bar-chart {
    display: block;
}


button {
    color:bisque;
    background-color: rgb(181, 117, 117);
}
.update-bt {
    color:bisque;
    background-color: rgb(69, 69, 90);
}
/* Add styles to create a modal overlay effect */
.edit-f {
    position: fixed; /* Sticks the div to the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the modal */
    z-index: 3; /* Ensures it's on top of other content */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}