.Nav-tm {
    display: flex;          /* Enables flexbox layout */
    justify-content: space-between; /* Distributes space between the items */
    align-items: first baseline;    /* Aligns items vertically in the center (optional) */
}

.tm {
    padding: 10px; /* Optional: Add some padding or styling to the items */
}

.task-details {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 300px;
}

.task-details h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.task-details p {
    margin: 5px 0;
    font-size: 14px;
}

.task-details strong {
    font-weight: bold;
}


